@mixin bp-mobile
  @media only screen and (max-width: 900px)
    @content

@mixin transition
  transition: .3s

@mixin boxShadow($offset, $color)
  box-shadow: 0 0 $offset $color

@mixin borderRadius
  border-radius: 4px

@mixin backgroundImage($imageURL)
  background-image: url($imageURL)
  background-size: cover
  background-position: bottom right
  background-repeat: no-repeat



@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:900')
@import url('https://fonts.googleapis.com/css?family=Lato:300,400')

*
  margin: 0
  padding: 0
  box-sizing: border-box
a, a:visited, a:active
  text-decoration: none
  color: inherit

body, html
  width: 100%
  height: 100%
  font-family: 'Lato', sans-serif
  font-weight: 400
  @include bp-mobile
    height: auto
    min-height: 100%
  .landingImage
    @include backgroundImage('../img/image2.jpg')
    filter: blur(3px)
    position: fixed
    z-index: -1
    top: 0
    left: 0
    width: 100%
    height: 100%
  #landing
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    h1
      font-family: 'Saira Condensed', sans-serif
      font-size: 10vw
      color: #fff
      text-shadow: 0 0 10px #222
    #enter
      width: 700px
      background: #eee
      font-family: 'Lato', sans-serif
      color: #666
      position: relative
      @include borderRadius
      @include boxShadow(5px, #222)
      @include bp-mobile
        width: 90%
        margin: auto
      .hr
        width: 20%
        margin: 40px auto
        height: 2px
        background: red
      p
        padding: 0 100px
        font-style: italic
        @include bp-mobile
          padding: 0 50px
      nav
        width: 80%
        margin: 40px auto
        display: flex
        flex-direction: row
        justify-content: space-around
        a
          height: 30px
          line-height: 30px
          font-size: 22px
          color: #999
          @include transition
          &:hover
            color: #444
            border-bottom: 3px solid red
      form
        // form background color
        $bgCol: #264a99
        width: 100%
        background: $bgCol
        padding: 20px
        display: flex
        flex-direction: row
        justify-content: center
        input
          width: 80%
          height: 35px
          background: $bgCol
          border: 1px solid $bgCol + 15
          font-size: 18px
          color: #ddd
          padding-left: 10px
          @include transition
          &:focus
            height: 55px
        button
          width: 35px
          background: $bgCol
          border: none
          color: #bbb
          font-size: 20px
          margin-left: 10px
          cursor: pointer

  section
    height: 100%
    @include bp-mobile
      min-height: 100%
    h1
      margin-left: 10%
      margin-top: 20px
      color: #eee
      font-family: 'Saira Condensed', sans-serif
      font-size: 5em
    .container
      width: 80%
      height: auto
      min-height: 70%
      margin: auto
      background: #fff
      color: #666
      border: 2px solid #bbb
      @include boxShadow(20px, #666)
      @include bp-mobile
        width: 90%
      p
        font-size: 20px
        font-weight: 300
        padding: 80px 80px 10px 80px
        @include bp-mobile
          font-size: 18px
          padding: 15px

section#first
  height: auto
  min-height: 100%
  .container
    .eventsWrapper
      width: 80%
      margin: auto
      .events
        float: left
        width: 50%
        @include bp-mobile
          clear: both
          width: 100%
        a
          width: 100%
          float: left
          display: block
          margin-left: 60px
          margin-top: 20px
          color: #888
          @include transition
          &:hover
            color: #222
          @include bp-mobile
            margin: 15px
          i
            margin-left: 15px
            color: green
            font-size: 22px
            @include transition
            opacity: 0
        a:hover i
          opacity: 1
      img
        float: right
        opacity: .9
        max-width: 50%
        @include bp-mobile
          clear: both
          max-width: 100%

section#third
  height: auto
  min-height: 100%
  .container
    form
      $bgCol: #6bc0fe
      $height: 30px
      $textHeight: $height + 90
      width: 60%
      margin: 20px auto
      padding: 40px
      background: $bgCol
      @include borderRadius
      @include bp-mobile
        width: 90%
      .formControl
        label, input, textarea
          width: 100%
          margin-bottom: 10px
          @include transition
        input, textarea
          background: $bgCol
          border: none
          border-bottom: 1px solid #888
          padding-left: 10px
          color: white
          font-size: 18px
        label
          color: #fff
          display: block
          margin-bottom: 5px
        input
          height: $height
          &:focus
            height: $height + 15
        textarea
          resize: none
          height: $textHeight
          &:focus
            height: $textHeight + 15
      button
        display: block
        margin: 20px auto
        margin-bottom: 0
        padding: 15px 25px
        border: none
        background: #f5a409
        color: #fff
        cursor: pointer
        @include borderRadius
        @include boxShadow(10px, #666)
        @include transition
        &:hover
          @include boxShadow(2px, #666)


#mobileNav
  position: fixed
  z-index: 9999
  bottom: 30px
  right: 10px
  transform: translateX(200%)
  @include transition
  a
    display: inline-block
    color: #fff
    padding: 10px
    background: #daa418
    opacity: .75
    @include borderRadius
    @include transition
    &:first-child
      background: #4fad44
    &:hover
      opacity: 1

footer
  margin-top: 90px
  height: 40px
  line-height: 40px
  text-align: center
  background: #252525
  color: #999

.clearFloat
  clear: both
